<%- include("header"); -%>
<body>
  <h2>::: About the Creator :::</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in culpa qui officia deserunt mollit anim id est laborum.</p>
</body>
<%- include("footer"); -%>
